*{
    margin:0px;
    padding:0px;
}

#div6{
    background-color:rgb(39, 38, 38);
}
.col-lg-3{
    margin-top:4%;
}
.testimonials .row{
    margin-top:30px;
}
.col-md-4{
    margin:40px auto;
}
.profile{
    padding:70px 10px 10px;
    background-color: #efefef;
}
.profile img{
    top:-60px;
    position: absolute;
    left:calc(50% - 60px);
    border:10px solid white;
}
.list{
    color:white;
    text-decoration: none;
}
.list:hover{
    text-decoration:none;
    color:rgb(59, 160, 243);
}

#email_btn{
    background-color:rgb(59, 160, 243);
    color:white;
}
#email_btn:hover{
    background-color:white;
    color:rgb(59, 160, 243);
}
#footer{
    background-color:rgb(53, 51, 51);
    color:white;
}

/* Featured section starts here */
#section-2{
    overflow: hidden;
    margin-top: 5em;
    padding-top: 1em;
    /*border-top: 1px solid rgba(0, 0, 0, 0.2);*/
    text-align: center;
}
.row #column1,
.row #column2,
.row #column3,
.row #column4{
        float: left;
        width: 400px;
        height:600px;
        padding: 80px 40px 80px 40px;
        margin-left: 120px;
}
.column-title h2{
    margin: 1em 0em;
    font-size: 1.6em;
    font-weight: 700;
}
.checked {
  color: orange;
}
.title
{
    text-decoration: none;
    color: black;
}
/* Featured section ends here */
